{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{state.img}}" alt="{{state.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{state.name}}</h1>
</div>
<div>
    <div class="detail__container">
        <!-- inside container -->
    <div class="detail__finchs mb-5">

        <h3 class="title is-3">Finches</h3>
        {% for finch in state.finchs.all %}
            <div class="finch">
                <span>{{forloop.counter}}</span>
                <span><b>{{finch.name}}</b></span>
            </div>
        <span>
    {% endfor %}
</div>

{% endblock %}